*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* 
*******************************
bg-color
******************************* 
*/

.bg-viola{
    background-color: rgb(151, 146, 228);
}

.bg-nero{
    background-color: rgb(51,51,51);
}

/* 
*******************************
Margin e padding
******************************* 
*/

.padding-bottom-30{
    padding-bottom: 30px;
}

.margin-top-7{
    margin-top: 7px;
    color: white;
}
.text-align-end{
    text-align: end;
}

/* 
*******************************
Header
******************************* 
*/

header{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 132, 253);
    padding: 10px;
}

.riga-header{
    margin: auto;
    width: 90%;
    height: 30px;
    display: flex;
}

.col-50-header{
    width: 50%;
}

#logo{
    height: 30px;
}

/* 
*******************************
Main
******************************* 
*/

.riga-main{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.col-main{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}

.col-main-66{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}


/* 
*******************************
Strategic Planning
******************************* 
*/

.col-main-strategic{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}


/* 
*******************************
We are committed expert partners
******************************* 
*/
.col-main-partners{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}


/* 
*******************************
Benefits of working with us
******************************* 
*/
.col-main-benefits-100{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}

.col-main-benefits{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}


/* 
*******************************
About us
******************************* 
*/
.col-main-about{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}


/* 
*******************************
it's Free
******************************* 
*/
.col-main-free{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    background-color: rgb(181, 221, 255);
}






/* 
*******************************
footer
******************************* 
*/

footer{
    height: 200px;
}


/* 
*******************************
Tablet 768px
******************************* 
*/
@media screen and (min-width:768px){
    .col-main-66{
        width: calc((100% / 3)* 2 - 20px) ;
        margin: 10px;
    }

    .col-main{
        margin: 10px;
        width: calc(100% / 3 - 20px);
    }

    .col-main-benefits{
        margin-top: 30px;
        margin: 10px;
        width: calc(100% / 2 - 20px);
        height: 150px;
        background-color: rgb(181, 221, 255);
    }
    
    .col-main-about{
        margin-top: 30px;
        width: calc(100% / 2);
        height: 150px;
        background-color: rgb(181, 221, 255);
    }

}

/* 
*******************************
PC 992px
******************************* 
*/
@media screen and (min-width:992px){
    .riga-header{
        width: 70%;
    }

    .riga-main{
        width: 70%;
    }

    .col-main-strategic{
        width: calc(100% / 2);
    }

}


/* 
*******************************
MAX 1200px
******************************* 
*/

@media screen and (min-width: 1200px){
    .riga-header{
        max-width: 1200px;
    }

    .riga-main{
        max-width: 1200px;
    }
}